<% provide(:title, 'Home') %>

<body>
<h1>My static homepage</h1>
<p>This is a <%= @app_type %> app!</p>
<p>
This is the home page for the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>
</body>




